@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply decoration-orange-300 transition-colors underline focus:decoration-orange-500 focus:text-orange-500 hover:decoration-orange-500 hover:text-orange-500;
  }

  em {
    font-style: normal;
    @apply font-serif;
  }
}

@layer components {
  .groundhog {
    @apply absolute bg-center bg-contain bg-groundhog inset-10 sm:inset-12 md:inset-20 lg:inset-24 xl:inset-32 p-5 sm:p-10 md:p-20 lg:p-32 xl:p-40;
  }

  .part {
    @apply bg-black/70 leading-relaxed relative rounded-lg text-white;
  }

  .spacing {
    @apply lg:space-y-20 md:space-y-16 space-y-10;
  }
}

@font-face {
  font-family: "Modak";
  src: url(Modak-Regular-subset.woff2) format("woff2");
}

@font-face {
  font-family: "UnifrakturCook";
  src: url(UnifrakturCook-Bold-subset.woff2) format("woff2");
}
